[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm
Comment=Python IDE
Exec=/home/vagrant/Software/Pycharm/pycharm-2.7.3/bin/pycharm.sh
Icon=/home/vagrant/Software/Pycharm/pycharm-2.7.3/bin/pycharm.png
Path=
Terminal=false
StartupNotify=true
